
<div class="col-md-3">
      <h2>User info</h2>
      <%= image_tag user.get_profile_image(100,100) %>
      <!--<img src="https://bookers-level2.herokuapp.com/rails/active_storage/representations/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBd1hSQkE9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--cd39249e0381ea04ed630cc1a6958df9bc947839/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJYW5CbkJqb0dSVlE2RkhKbGMybDZaVjkwYjE5c2FXMXBkRnNIYVdscGFRPT0iLCJleHAiOm51bGwsInB1ciI6InZhcmlhdGlvbiJ9fQ==--4a929dbc7794f3c4610ba9ba5402762ad9cd1a14/default-image.jpg">-->
      <table class="table">
  <tbody><tr></tr>
  <tr>
	  <th>name</th>
	  <th><%= user.name %></th>
  </tr>
  <tr>
	  <th>introduction</th>
	  <th><%= user.introduction %></th>
  </tr>
</tbody></table>

<div class="row">
    <!--下の(@user)をつけなくてもshowはいけたのに、indexはできないなぜ？-->
    <%=link_to edit_user_path(user),class:"btn btn-outline-secondary" do%>
    <i class="fas fa-user-cog" aria-hidden="true"></i>
    <%end%>

</div>



<!--creatかupdateを自動で判断してくれる-->
 <%= form_with model: booknew do |f| %>
    <h2 class="mt-3">New book</h2>
      <%#= f.file_field :image, accept: "image/*" %>
    Title<br>
      <%= f.text_field :title %>
    <h4>Opinion</h4>
      <%= f.text_area :body %>
   <div class="form-group">
    <input type="submit" name="commit" value="Create Book" class="btn btn-success" data-disable-with="Create Book">
  </div>
  <% end %>

</div>
